*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
.nav-bar{
    background-color: black;
    padding: 12px 85px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 34px;
    }
    ul li a{
        text-decoration: none;
        color:white;
        font-size: 14px;
        font-weight: 400;
    }
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;   
    background-color: white;
    border-radius: 50%;
}
main{
    background-color: #474747;  
    display: flex;
    flex-direction: column;
}
.intro{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: auto;
    margin: 51px 236px 59px;
    gap: 33px;
    padding: 21px 46px ;
}
.slider{
    margin: 0 105px 85px;   
    width: 1300px;
    max-width: 100vw;
    height:557px;
    position: relative;
    overflow: hidden;
    .list{
        position: absolute;
        width: max-content;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        transition: 1s;
        img{
            width: 1300px;
            max-width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
    .buttons{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff5;
            color: #fff;
            border: none;
            font-family: monospace;
            font-weight: bold;
        }
    }
    .dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            width: 10px;
            height: 10px;
            background-color: #fff;
            margin: 10px;
            border-radius: 20px;
            transition: 0.5s;
        }
    }
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
.list-card{
    display: flex;  
    gap: 52px;
    margin: 0 104px 156px;
    flex-wrap: wrap;
}
.card-news{
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    img{
        margin: 16px 13px 34px;
    }
    h1{
        margin: 0 26px 28px;
        color: black;
    }
    span{
        margin: 0 26px 68px;
        color: #474747;
        font-size: 17px;
    }
}
.keyword{
    display: flex;
    gap: 14px;
    font-size: 11px;
    color: #FF7A18;
    margin: 10px 26px;
}


.author{
    position: absolute;
    bottom: 10px;
    left: 24px;
}
.name_author{
    font-size: 17px;
}
.date{
    font-size: 15px;
    color: #565656;
    line-height: 22.46px;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;

}
.foot-title{
    font-size: 30px;
    margin: 99px 140px 60px;
    span{
        color: white;
    }
    a{
        color: #0089C7;
        text-decoration: none;
    }
}
.foot-info{
    display: flex;
    gap: 150px;
    margin:0 140px 50px;
    .title{
        color: #FF7A18;
        font-size: 17px;
        list-style: none;
        text-transform: uppercase;
    }
    a{
        line-height:31px;
        text-decoration: none;
        font-size: 20px;
        color: #A9A39F;
    }
}
.keep-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #434343;
    bottom: 290px;
    right: 100px;
    padding: 25px;
    h2{
        text-transform: uppercase;
        color: #FF7A18;
        margin-bottom: 3px;
    }
    p{
        color: white;
        margin-bottom: 26px;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 19px;
    }
    input{
        width: 500px;
        padding-bottom: 20px;
        font-size: 13px;
    }
    button{
        font-size: 14px;
        background-color: #777777;
        color: white;
        padding: 9px 18px;
    }
}